@import url("https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap");

@import "./palette.scss";

html,
body,
#root,
.App {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  font-family: "Odibee Sans";
}

.App {
  background: $bg-color;
  display: flex;
  flex-flow: column;
}

.header {
  display: flex;
  height: 12rem;
  position: fixed;
  width: 100%;
  z-index: 9;
  &:before {
    background: rgba($bg-color, 0.7);
    content: "";
    filter: blur(10px);
    height: 100%;
    position: absolute;
    transform: scale(0.9);
    width: 100%;
    z-index: -1;
  }
  .inner {
    color: #e6e6e6;
    letter-spacing: 0.15rem;
    margin: auto;
    text-align: center;
    text-shadow: 4px 4px black;
    width: 100%;
    h1 {
      font-size: 4rem;
      margin: 1rem;
    }
    p {
      font-size: 2rem;
      margin: 1rem;
    }
  }

  @media screen and (min-width: 950px) {
    width: 50%;
    height: 100%;
    &:before {
      background: none;
    }
  }
}

.footer {
  background-image: $main-pattern;
  background-attachment: fixed;
  bottom: 0;
  display: flex;
  height: 3rem;
  padding: 0;
  width: 100%;
  z-index: 9;
  p {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Calistoga";
    font-size: 1rem;
    margin: auto;
    text-align: center;
  }
}

.chooser {
  bottom: 0;
  height: 5rem;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 9;
  .bg {
    background: transparent;
    backdrop-filter: blur(10px);
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  .inner {
    background: linear-gradient(
      180deg,
      hsla(0, 0%, 100%, 0),
      hsla(0, 0%, 0%, 0.3)
    );
    box-shadow: inset 0 2px 0 0 rgba(darken($bg-color, 10%), 0.4);
    display: flex;
    height: 100%;
    left: 0;
    overflow: scroll;
    padding: 5px;
    position: absolute;
    width: 100%;
    .colors {
      display: flex;
      height: 100%;
      margin: auto;
      max-width: 600px;
      width: 100%;
      .option {
        margin: 5px;
        width: calc(16.6667% - 10px);
        button {
          background-image: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0),
            rgba(30, 30, 30, 0.4)
          );
          border: none;
          border-radius: 10px;
          height: 100%;
          outline: none;
          transition: all 0.2s;
          width: 100%;
          &:active {
            opacity: 0.5;
          }
        }
      }
    }
  }
}

.boardParent {
  display: flex;
  flex: 1;
  flex-flow: column;
  position: relative;
  .board {
    display: flex;
    flex: 1;
    flex-flow: column;
    overflow: scroll;
    .amnt {
      color: #e6e6e6;
      font-size: 2rem;
      margin: 0;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translateY(-5rem);
      width: 100%;
      b {
        color: white;
      }
    }
    .rows {
      width: 100%;
      height: 100%;
      position: relative;

      @media screen and (min-width: 950px) {
        width: 50%;
        height: 100%;
        margin-left: 50%;
        &:before {
          background: none;
        }
      }
      .row {
        display: flex;
        padding: 0.75rem 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;

        &:last-of-type {
          margin-bottom: 5rem;
        }

        .inner {
          display: flex;
          flex-flow: row;
          margin: auto;

          .sockets {
            align-items: center;
            background: rgba(darken($bg-color, 5%), 0.7);
            border-radius: 10px;
            display: flex;
            flex-flow: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding: 5px;
            .socket {
              background-color: rgba($bg-color, 0.3);
              background-image: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0),
                rgba(30, 30, 30, 0.4)
              );
              border: none;
              border-radius: 50%;
              width: 50px;
              height: 50px;
              margin: 5px;
              outline: none;
              transition: all 0.2s;
            }
          }

          .clues {
            align-items: center;
            border-radius: 10px;
            display: flex;
            flex-flow: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-left: 10px;
            padding: 5px;
            width: 70px;
            .clue {
              background: rgba(darken($bg-color, 5%), 0.7);
              border-radius: 50%;
              display: flex;
              height: 20px;
              margin: 5px;
              transition: all 0.4s;
              width: 20px;
              &._true {
                background: rgba(black, 0.8);
              }
              &._false {
                background: rgba(white, 0.8);
              }
              img {
                height: 20px;
                margin: auto;
                transform: scale(0.9);
              }
            }
          }
        }
      }
    }
  }
}

.end {
  display: flex;
  height: 100%;
  position: fixed;
  width: 100%;

  @media screen and (min-width: 950px) {
    margin-left: 50%;
    width: 50%;
  }
  .inner {
    color: #e6e6e6;
    margin: auto;
    text-align: center;
    h1 {
      font-size: 3.5rem;
    }
    p {
      font-size: 1.5rem;
    }
    button {
      background-color: #ddd;
      background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0),
        rgba(30, 30, 30, 0.4)
      );
      border: none;
      border-radius: 5px;
      color: $bg-color;
      font-size: 4rem;
      outline: none;
      padding: 0.5rem;
    }
  }
}
